<div class="add-page content">

    <div class="container">
    
        <div class="add-box">
            <h3 style="color:#fff; margin-bottom:0;">Add New Hackathon:</h3> 
            <br />
            
            <input type="text" class="form-control"   placeholder="Event name" style="margin-bottom:10px;"/>
            <input type="text" class="form-control"  placeholder="Event link"  style="margin-bottom:10px;"/>
            <input type="text" class="form-control"   placeholder="Admin users" style="margin-bottom:10px;"/>
            <input type="file"   placeholder="Event image"  style="margin-bottom:10px; color: white;"/>
            <input type="checkbox" id="buscheck"   placeholder="Bus available" style="margin-bottom:10px;"/>
            <label for="buscheck" style="color: white;">Bus available</label>
            
            <button type="submit" class="btn btn-default" style="display: block;" ng-click="login()">Add!</button>
        </div>
        
    </div>

</div>