<html>
<head>
<link rel="stylesheet" href="dependencies/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="dependencies/bootstrap/dist/css/bootstrap-theme.min.css">

<script type="text/javascript" src="dependencies/angular/angular.js"></script>
<script type="text/javascript" src="dependencies/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="dependencies/angular-route/angular-route.js"></script>

<script type="text/javascript" src="js/app.js"></script>    

<!-- Styles -->
<link href="/style.css" rel="stylesheet">
</head>

<body>
<%= yield %>
</body>

</html>