<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="../public/css/login.css" rel="stylesheet">
	<title>Bus2hack | Login</title>
</head>
<body>
	<!-- <div id="header">
        <ul id="nav">
            <li class="navItem" id="logoContainer"><img id="logo" src="../logo.png"></li>
        </ul>
    </div> -->
    <div id="login">
    	<form action="#" id="loginForm">
    		<h1 id="title">Bus2Hack</h1>
    		<input type="text" id="username">
    		<input type="password" id="password">
    		<div id="loginBtn">Login</div>
    		<div id="forgotten">Forgot your password? <span>Reset password</span></div>
    	</form>
    </div>

</body>
</html>