<script type="text/javascript" src="dependencies/angular/angular.min.js"></script>
<script>
var profile = angular.module('profile', [])

</script>


<div class="login-page content">

    <div class="container" ng-app="profile">
        
        
        
    </div>
    
</div>