<div class="login-page content">

    <div class="container">
    
        <div class="login-box">
            <h3 style="color:#fff; margin-bottom:0;">Register:</h3> 
            <br />
            
            <input type="email" class="form-control"   placeholder="Email" style="margin-bottom:10px;"/>
            <input type="password" class="form-control"  placeholder="Password"  style="margin-bottom:10px;"/>
            <input type="text" class="form-control"   placeholder="First Name" style="margin-bottom:10px;"/>
            <input type="text" class="form-control"  placeholder="Last Name"  style="margin-bottom:10px;"/>
            <input type="text" class="form-control"  placeholder="School"  style="margin-bottom:10px;"/>
            <input type="text" class="form-control"  placeholder=""  style="margin-bottom:10px;"/>
            <input type="datetime" class="form-control"  placeholder="Last Name"  style="margin-bottom:10px;"/>
            
            <button type="submit" class="btn btn-default" ng-click="login()">Register!</button>
        </div>
        
    </div>

</div>