<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Bus2hack | Registration</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="row">
				<div class="col-xs-6">

					<a class="navbar-brand" href="#">bus2hack</a>

				</div>

				<div class="col-xs-6">
					<ul class="nav navbar-nav navbar-right pull-right">
						<li><a href="#">Profile</a></li>
					</ul>
				</div>
			</div><!-- /.container-fluid -->
		</nav>

		<div id="register">
			<form action="#" id="registerForm">
				<h1 id="title">Register</h1>
				<p>Username:</p><input type="text" id="username">
				<p>Password:</p><input type="password" id="password">
				<p>Confirm password:</p><input type="password" id="confirmPassword">
				<p>Email address:</p><input type="text" id="email">
				<p>School/University:</p><input type="text" id="school">
				<div id="submit">Submit</div>
			</form>
		</div>
</body>
</html>