body{
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236,236,236);
  background-image: url('../pretty.jpeg');
  background-size: cover;
  background-attachment: fixed;

}
#login{
    margin: 5% auto;
    width: 30vw;
    height: 60vh;
    text-align: center;
    background-color: rgba(65, 131, 215,0.4);
    border-radius: 3px;
    /*-webkit-filter: blur(5px);*/
}
form{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#title{
  letter-spacing: 2px;
  color: rgba( 135, 211, 124,1.0);
}
#title > span{
	color: white;
}
input{
    color: white;
    margin: 0 auto;
    margin-bottom: 5%;
    display: block;
    border-radius: 5px;
    /*border-color: rgba(255,255,255,0.5);*/
    border: 0px;
    padding: 5px;
    background-color: rgba(65, 131, 215,0.6);
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
#loginBtn{
  margin: 0 auto;
  margin-bottom: 3%;
  background-color: rgba( 135, 211, 124,1.0);
  width: 34%;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
#forgotten{
	font-size: 0.5em;
	margin: 0 auto;
	letter-spacing: 1px;
	/*text-decoration: underline;*/
	/*border-bottom: 1px white solid;*/
	/*width: 34%;*/
}
#forgotten > span{
	/*text-decoration: underline;*/
	border-bottom: 1px white solid;
}