body{
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236,236,236);
  background-image: url('../pretty.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
#register{
    margin: 5% auto;
    width: 30vw;
    height: 60vh;
    text-align: center;
    background-color: rgba(65, 131, 215,0.4);
    border-radius: 3px;
}
form{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
input{
    color: white;
    margin: 0 auto;
    margin-bottom: 5%;
    display: block;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color: rgba(65, 131, 215,0.6);
}